body {
    text-transform: uppercase;
    background-color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
main {
    padding:230px 300px 305px 300px;
    margin:30px 20px 20px 20px;
    background-color: black;
}

#container {
    justify-content: center;
    color: red;
    display: grid;
    grid-template-columns: auto;
    grid-template-areas: 
    "container1 container1 container1"
    "container2 container2 container2";
}

#container1 {
    grid-area: container1;
    justify-content: center;
    color: red;
    display: grid;
    grid-template-columns: auto;
    grid-template-areas: 
    "a a a";
    font-size: 2em;
    line-height: .9em;
}

#container2 {
    grid-area: container2;
    justify-content: center;
    color: red;
    display: grid;
    grid-template-columns: auto;
    grid-template-areas: 
    "b b b";
    line-height: 4.5em;
    margin: -60px;
}

#top {
    grid-area: a;
    color: rgb(2, 206, 2);
    justify-content: center;
}

#bottom {
    grid-area: b;
    font-size: 2em;
    color: white;
}

#ob:hover {
    color: rgb(2, 206, 2);
    text-transform: lowercase;
}

a {
    font-size: 2em;
}

a:hover {
    color: red;
}

/* media quiery- mobile */

@media (max-width: 1200px) {
    main {
        padding-top: 80px;
    }
    #container1 {
        line-height: 3.2em;
        grid-area: container1;
        justify-content: center;
        color: red;
        display: grid;
        grid-template-columns: auto;
        grid-template-areas: 
        "a a a"
        "b b b";
    }
    
        /*
    p {
        margin-top: -10px;
        margin-bottom: -10px;
    }

    #container2 {
        margin-top:-20px;
    }
    */
}